body {
  background-color: #fff7ed;
  font-family: cursive;
}
header {
  text-align: center;
  background-color: #fde68a;
  color: #92400e;
  font-size: 15px;
}
.div1 {
  background-color: #fed7aa;
  text-align: center;
}
a {
  text-decoration: none;
  color: #92400e;
}
.div2 {
  padding-top: 30px;
  text-align: center;
}

footer {
  background-color: #78350f;
  text-align: center;
  color: white;
}
.div3 {
  background-color: white;
}
.div3 h2 {
  color: #92400e;
}
.div1 :hover {
  background-color: #78350f;
  color: white;
}
.div3 .list li:hover {
  background-color: #78350f;
  color: yellow;
}
p {
  font-size: 18px;
}
li {
  font-size: 18px;
}
