* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  font-size: 18px;
}
h1 {
  padding-bottom: 10px;
}
body {
  background-color: #fff7ed;
  color: #78350f;
  font-family: "Poppins", sans-serif;
}
header {
  background-color: #fde58a;
  text-align: center;
  padding: 30px;
}
nav {
  text-align: center;
  background-color: #fed8aa;
  padding: 10px;
}
nav a {
  text-decoration: none;
  font-weight: 600;
  color: #78350f;
  margin-left: 30px;
  transition: 0.5s;
}
.main1 {
  text-align: center;
  padding-top: 30px;
}
.main2-list {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}
.list-card {
  margin-left: 30px;
  background-color: white;
  width: 260px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 20px;
  transition: 0.3s;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
.list-card h3,
p,
span {
  margin-bottom: 10px;
}

footer {
  text-align: center;
  background-color: #78350f;
  color: white;
  padding: 30px;
  margin-top: 30px;
}
footer p {
  padding-top: 10px;
}

a:hover {
  background-color: #f37126;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
.list-card:hover {
  background-color: #fffbeb;
  transform: translateY(-10px);
}
