* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  font-size: 18px;
}
h1 {
  padding-bottom: 10px;
}
body {
  background-color: #fff7ed;
  color: #78350f;
  font-family: "Poppins", sans-serif;
}
header {
  background-color: #fde58a;
  text-align: center;
  padding: 30px;
}
nav {
  text-align: center;
  background-color: #fed8aa;
  padding: 10px;
}
nav a {
  text-decoration: none;
  font-weight: 600;
  color: #78350f;
  margin-left: 30px;
  transition: 0.5s;
}
.main1 {
  position: relative;
}

img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.main1-right {
  position: absolute;
  background-color: #f0f5f9;
  width: 450px;
  bottom: 40px;
  left: 40px;
  opacity: 0.9;
  border-radius: 10px;
  padding: 20px;
  color: black;
}
.main1-right h1 {
  font-size: 27px;
}
.main2 {
  text-align: center;
  margin-top: 50px;
}
.main3 li {
  padding-bottom: 20px;
  font-size: 18px;
}
.main3 h1 {
  padding-bottom: 30px;
}

.main3 {
  text-align: center;
  margin-top: 90px;
  padding-bottom: 30px;
}
.main4 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fffbea;
}
.main4 p {
  padding-top: 30px;
}
footer {
  text-align: center;
  background-color: #78350f;
  color: white;
  padding: 30px;
  margin-top: 30px;
}
footer p {
  padding-top: 10px;
}

a:hover {
  background-color: #f37126;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
