* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  font-size: 18px;
}
h1 {
  padding-bottom: 10px;
}
body {
  background-color: #fff7ed;
  color: #78350f;
  font-family: "Poppins", sans-serif;
}
header {
  background-color: #fde58a;
  text-align: center;
  padding: 30px;
}
nav {
  text-align: center;
  background-color: #fed8aa;
  padding: 10px;
}
nav a {
  text-decoration: none;
  font-weight: 600;
  color: #78350f;
  margin-left: 30px;
  transition: 0.5s;
}
.main1 {
  position: relative;
}

img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.main1-right {
  position: absolute;
  background-color: #f0f5f9;
  width: 390px;
  bottom: 40px;
  right: 40px;
  opacity: 0.9;
  border-radius: 10px;
  padding: 20px;
  color: black;
}
.main2 {
  text-align: center;
  margin-top: 50px;
}
.main2-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}
.main2 p {
  margin-top: 10px;
}
.main3 {
  text-align: center;
  margin-top: 90px;
}
.main3 p {
  font-size: 18px;
  color: black;
  margin-top: 20px;
}
.main3 h2 {
  font-size: 30px;
  margin-bottom: 50px;
}
footer {
  text-align: center;
  background-color: #78350f;
  color: white;
  padding: 30px;
  margin-top: 30px;
}
footer p {
  padding-top: 10px;
}

.list-card {
  background-color: #ffffff;
  padding: 20px;
  width: 260px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.list-card:hover {
  background-color: #fffbeb;
  transform: translateY(-10px);
}
a:hover {
  background-color: #f17126;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
