header {
  background-color: #1eff29;
  color: black;
  text-align: center;
  margin-right: 350px;
  margin-left: 350px;
}

header h1 {
  font-size: 48px;
  font-weight: bold;
}

header p {
  font-size: 22px;
  font-style: italic;
  margin-top: 10px;
}
