footer {
  background-color: #7fbaf5;
  color: white;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  margin-left: 350px;
  margin-right: 350px;
}

footer a {
  color: blue;
  text-decoration: underline;
  margin: 0 5px;
}
