body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.body-se {
  background-color: #f4f4f9;
  padding: 30px;
  width: 80%;
  margin: 40px auto;
  display: flex;
}

.body-left {
  width: 40%;
}

.body-left ul {
  list-style-type: none;
  padding-top: 50px;
}

.body-left li {
  margin-bottom: 15px;
  font-size: 16px;
}

.line-through {
  text-decoration: line-through;
}

.bold {
  font-weight: bold;
}

.body-right {
  width: 60%;
  text-align: center;
}

.body-right h2 {
  color: #1e90ff;
  margin-bottom: 10px;
}

.body-right p {
  font-size: 16px;
}
