body {
  background-color: #f0f9ff;
}
header {
  text-align: center;
  background-color: #0883c6;
  color: white;
  font-family: sans-serif;
}
main h3 {
  color: #0883c6;
  font-size: 25px;
  font-family: sans-serif;
}
main .em01 {
  color: #0883c6;
}
main .em02 {
  color: red;
}
footer {
  text-align: center;
  background-color: #0883c6;
  color: white;
  font-family: sans-serif;
}
.icon {
  list-style: none;
  padding-left: 30px;
}

.icon li::before {
  content: "🦷";
  margin-right: 10px;
  font-size: 15px;
}
